*node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Compiled binary addons
*build

# dotenv environment variables file
/.env

# IDE
.vscode
.idea

# Drone CI
.drone.yml